@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sdnlqk');
  src:  url('../fonts/icomoon.eot?sdnlqk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sdnlqk') format('truetype'),
    url('../fonts/icomoon.woff?sdnlqk') format('woff'),
    url('../fonts/icomoon.svg?sdnlqk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-cancel:before {
  content: "\e900";
}
.icon-cancel2:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e903";
}

